:root {
    --grey: #cacaca;
    --orange_light: #ff9900;
    --orange: #e1670e;
    --white:#ffffff;
    --dark_grey: #666666;
    --black: #333333;
}


.about-us__heading {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--black);
}

.about-us__text {
    margin-bottom: 55px;
    max-width: 1235px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--black);
}

.about-us__content {
    display: flex;
}

.about-us__col {
    width: 49.2%;
}
.about-us__col1 {
    display: flex;
    align-items: flex-end;
    margin-right: 32px;
    /*min-height: 675px;*/
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url('../img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-us__col1-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px; 
    height: 198px; 
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    background: rgba(0, 0, 0, 0.5);
}

.about-us__col1-text {
    width: 60%; /*было 68%*/
}

.about-us__link {
    color: var(--white);
    border: 3px solid var(--orange_light);
    background-color: transparent;
    text-align: center;
    padding: 15px;
    height: 60px;
    min-width: 175px;
    margin-top: -5px;
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.about-us__link:hover {
    background-color: var(--orange_light);
    outline: none;
}

.about-us__link:focus {
  outline: 1px solid var(--orange_light);
}

.about-us__link:active {
    background-color: var(--orange);
    border-color: var(--orange);
}

.about-us__col2-item {
    position: relative;
    padding-left: 60px; /*было 200*/
    display: flex;
    align-items: center;
    padding: 65px 20px 65px 300px; /*было 71 40 62 300*/
    min-height: 295px; 
    border: 1px solid var(--grey);
    background-repeat: no-repeat;
    background-size: 120px; 
    background-position: 50% center;
}

.about-us__col2-item:first-child {
    margin-bottom: 32px; /*было 30*/
}

.about-us__col2-item::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 130px; /*было 60*/
    top: 130px; /*было 110*/
    width: 190px; /*было 120*/
    height: 165px; /*было 120*/
    background-color: transparent;
    /*border-radius: 50%; */
}

.about-us__col2-item::before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 58px; /*130*/
    top: 62px; /*70*/ 
    width: 190px;
    height: 165px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/consult.svg');
}

.about-us__col3-item::before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 58px; 
    top: 62px; 
    width: 190px;
    height: 165px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/consult2.svg');
}


.about-us__col2-desc {
    max-width: 452px; /*445*/
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.about-us__col-title {
    margin-bottom: 8px; /*4*/
}

.about-us__col-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}


@media(max-width: 1200px){
  .about-us {
    margin-bottom: 110px;
  }
    
  .about-us__content {
    flex-direction: column;
  }

  .about-us__col {
    width: 100%;
  }
  
  .about-us__col:not(:last-child) {
    margin-bottom: 32px;
  }
  .about-us__col {
    height: 668px;
  }

  .about-us__col2 {
     width: 100%;
  }

  .about-us__col2-item {
    width: 100%;
    padding: 67px 20px 65px 330px;
  }
  
  .about-us__col1-text {
    width: 60%; /*было 68%*/
  }

  .about-us__col2-item::after {
    left: 150px; /*было 60*/
    top: 130px; /*было 110*/
  } 

  .about-us__col2-item::before {
    left: 80px; /*130*/
    top: 67px; /*70*/ 
    width: 200px;
    height: 180px;
  }

  .about-us__col3-item::before {
    left: 80px; /*130*/
    top: 85px; /*70*/ 
    width: 200px;
    height: 180px; 
  }
    
}

@media(max-width: 768px){
    .about-us__col1-item{
        padding: 34px 40px;
    }
    .about-us__col1-text {
        width: 62%;
    }

    .about-us__col2-item::before {
        left: 40px; /**/
        top: 68px; /***/
        width: 114px;
        height: 99px;
    }

    .about-us__col2-item {
        padding: 35px 46px 35px 170px;
        min-height: 235px;
    }

   
}

@media (max-width: 698px) {

    .about-us__col1 {
      display: flex;
      min-height: auto;
      background-image: none;
    }
  
    .about-us__col1-item::before {
      content: '';
      margin-bottom: 9px;
      min-width: 100%;
      min-height: 400px;
      background-image: url('../img/2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  
    }

    .about-us__col {
      height: 100%;
    }
  
    .about-us__col1-item {
      padding: 0;
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      font-weight: normal;
      font-size: 14px;
      color: #333333;
      background: none;
      backdrop-filter: none;
    }
  
    .about-us__col1-text {
      margin-bottom: 20px;
      width: 100%;
      line-height: 28px;
    }
  
    .about-us__link {
      padding: 15px;
      width: 162px;
      height: 50px;
      color: var(--orange_light);
      font-size: 12px;
      line-height: 15px;
    }
  
  
    .about-us__col2-item {
      padding: 120px 0 0;
      border: none;
    }
  
    .about-us__col-title {
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
    }
  
    .about-us__col-text {
      font-size: 14px;
      line-height: 28px;
    }
  
    .about-us__col2-item:after{
      width: 100px;
      height: 100px;
      left: 40px;
      top: 30px;
    }
  
    .about-us__col2-item:before{
      width: 100px;
      height: 100px;
      left: 0px;
      top: 15px;
    }
  
}
@media (max-width:480px) {
    .about-us__col1-item::before {
        min-height: 300px;
      }
}
@media (max-width: 320px) {
    .about-us__col1-item::before {
      content: '';
      margin-bottom: 8px;
      min-width: 100%;
      min-height: 200px;
      background-image: url('../img/2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  
    }
  
    .about-us__col1-text {
      margin-bottom: 8px;
      width: 100%;
      font-size: 14px;
      line-height: 28px;
    }
  
    .about-us__link {
      padding: 11px;
      text-align: center;
      width: 162px;
      height: 40px;
      color: var(--orange_light);
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 20px;
    }
  
  
    .about-us__col2-item {
      padding: 120px 0 0;
      border: none;
    }
  
    .about-us__col-title {
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
    }
  
    .about-us__col-text {
      font-size: 14px;
      line-height: 28px;
    }
  
    .about-us__col2-item:after{
      width: 100px;
      height: 100px;
      left: 40px;
      top: 30px;
    }
  
    .about-us__col2-item:before{
      width: 100px;
      height: 100px;
      left: 0px;
      top: 15px;
    }
  
  }