:root {
    --orange_light: #ff9900;
    --orange: #e1670e;
    --white:#ffffff;
    --black: #333333;
}

.company__burger {
    display: none;
}

.company__nav {
    display: flex;
    align-items: center;
}
.company__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 65px;
}


.company__search {
    display: none;
}



.search {
    position: absolute;
    right: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    padding: 16px;
    -webkit-transform: translateX(65px);
        -ms-transform: translateX(65px);
            transform: translateX(65px);
}

.company__search-input-active {
    border: none;
    border-bottom: 1px solid #DCDCDC;
    margin-right: 14px;
    outline-offset: 0;
    outline: none;
}

.company__btn-back-active {
    display: block;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-color: var(--white);
    background-image: url('../img/closed_search.svg');
    margin-left: 10px;
}

.company__nav-item:not(:last-child) {
    margin-right: 85px;
}

.company__nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--black);
    border-bottom: 2px solid transparent;
    -webkit-transition-property: border-color, outline, outline-offset, color;
    -o-transition-property: border-color, outline, outline-offset, color;
    transition-property: border-color, outline, outline-offset, color;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}


[type="search"] {
    outline-offset: 0;
}

.company__nav-link:hover {
    border-color: var(--orange_light);
}

.company__nav-link:focus {
    outline: 1px solid var(--orange_light);
    outline-offset: 10px;
}

.company__nav-link:active {
    color: var(--orange);
    border-color: var(--orange);
    outline: none;
}

.company__nav-icon {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    -webkit-transition-property: background-image, outline, outline-offset;
    -o-transition-property: background-image, outline, outline-offset;
    transition-property: background-image, outline, outline-offset;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    cursor: pointer;
    border: none;
    background-color: var(--white);
    background-image: url('../img/search.svg');
}


.company__nav-search {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    -webkit-transition-property: background-image;
    -o-transition-property: background-image;
    transition-property: background-image;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    cursor: pointer;
    border: none;
    background-color: var(--white);
    background-image: url('../img/search.svg');
}

.company__nav-icon:hover,
.company__nav-search:hover {
    background-image: url('../img/search_hover.svg');
}

.company__nav-icon:focus {
    outline: 2px solid var(--orange_light);
    outline-offset: 5px;
}

@media(max-width: 1200px){
    .company__burger {
        position: relative; /* задаем относительное позиционирование */
        width: 30px; /* определяем размеры блока */
        height: 23px;
        display: block;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border: 0px;
        background-color: var(--white);
        outline-offset: 5px;
    }

    .company__burger span, .company__burger:after, .company__burger:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
        right: 0px;
    }
    .company__burger span{
        top: 0px;
    }
    .company__burger:after, .company__burger:before{
        content: '';
    }
    .company__burger:after{
        bottom: 10px;
    }
    .company__burger:before{
        top: 21px;
    }

    .company__img {
        min-width: 150px;
        height: 48px;
    }

    .company__nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        position: absolute;
        left: 0;
        top: 0px;
        width: 40%;
        min-width: 240px; /*420*/
        z-index: 1000;
        padding: 50px;
        background-color: var(--white);
        overflow-y: auto;
        visibility: hidden;
        -webkit-transform: translateX(-120%);
            -ms-transform: translateX(-120%);
                transform: translateX(-120%);
        -webkit-transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -o-transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }

    .company__nav-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 50px;
        font-size: 24px;
        font-weight: 700;
    }


    .company__nav-link {
        font-size: 24px;
        font-weight: 700;
    }

    .company__nav-active {
        visibility: visible;
        position: fixed;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        padding: 60px;
        margin: 0;
    }

    .company__burger-list {
        margin-bottom: 50px;
    }

    .company__burger-list span, .company__burger-list:after, .company__burger-list:before{
        height: 3px;
        width: 30px;
        position: absolute;
        background: #515758;
        margin: 0;
    }

    .company__burger-list span {
        top: 50px;
        left: 50px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
        -webkit-transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }


    .company__burger-list:after, .company__burger-list:before {
        content: '';
    }
    .company__burger-list:after{
        opacity: 0;
    }

    .company__burger-list:before {
        top: 50px;
        left: 50px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
        -webkit-transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }


    .company__burger-active.company__burger::after {
        opacity: 0;
    }

   .company__burger-active.company__burger span {
        left: 25%;
        top: 50%;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
        -webkit-transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }

    .company__burger-active.company__burger::before {
        bottom: auto;
        left: 25%;
        top: 50%;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
        -webkit-transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }
    
}
@media (max-width: 1000px) {
    .company__nav-list {
        top: 65px;
    }

    .search {
        padding: 14px;
    }

    .company__search-input-active {
        font-size: 12px;
    }

    
}

@media (max-width: 698px) {
    .company__nav-list {
        width: 50%;
    }

    .company__nav-item:not(:last-child) {
        margin-bottom: 30px;

    }

    .company__nav-active {
        padding: 30px; 
    }

    .company__nav-link {
        font-size: 20px;
    }
}


@media(max-width: 480px) {
    .company__img {
        width: 110px;
    }
    .company__nav-link {
        font-size: 15px;
    }

    .company__nav-item:not(:last-child) {
        margin-bottom: 20px;

    }

    .company__nav-active {
        padding: 30px;
        
    }

    .company__nav-list {
        top: 0px;
    }

    .company__search-input-active {
        font-size: 15px;
    }
}